// these must be included if you want to change the @include for font sizes
@import "../bootstrap/scss/_functions.scss";
@import "../bootstrap/scss/_variables.scss";
@import "../bootstrap/scss/mixins/_breakpoints.scss";

//@import url(https://fonts.googleapis.com/css?family=Courgette:200,300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap);
// targets all the headings fonts
//$headings-font-family: 'Red Hat Display';
$font-family-base: 'Red Hat Display', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// the below line works to make text responsive but there is no real control
//$enable-responsive-font-sizes: true;

$theme-colors: (
  "nav": #00ff00
);

.tooltip.top .tooltip-inner {
  background-color: #00ff00 !important;
}

.tooltip.primary .tooltip-inner          { background-color:    #337ab7; }
.tooltip.primary.top > .tooltip-arrow    { border-top-color:    #337ab7; }
.tooltip.primary.right > .tooltip-arrow  { border-right-color:  #337ab7; }
.tooltip.primary.bottom > .tooltip-arrow { border-bottom-color: #337ab7; }
.tooltip.primary.left > .tooltip-arrow   { border-left-color:   #337ab7; }


/*
// failed attempts to style tooltip
.myTooltip .tooltip > .tooltip-inner{
 background:yellow;
  color:#00ff00;
}

.tooltip.top {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #00ff00;
  border-width: 0 5px 5px;
}

.tooltip.top .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #00ff00;
  border-width: 0 5px 5px;
}
*/

/*
// this works for editing the font size but it's obviously not the way to go about it.
@media all and (max-width: 1200px) {
    html {
        font-size: 2.6rem;
    }
}
@media all and (max-width: 1000px) {
    html {
        font-size: 1.8rem;
        }
    }
@media all and (max-width: 500px) {
    html {
        font-size: 0.8rem;
        }
    }
*/


// make the fonts responsive here, change font size at break points
// this works with the three imports at the top of the page
html {
  font-size: 0.9rem;
  /*font-size: 1.2vw;*/
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.1rem;
  }
}

/* set background image for body */

html {

}

/* should this be attached to the body or the html */
/* W3 Schools has an example attached to the body so I think this is OK */
html {
  /*background-image: url('../assets/bg2.jpg');*/
  /* just size the image appropriatly and use center center */
  /*  */
  background: url('../assets/bg7.jpg') no-repeat center center fixed;

  /* use the below to make sure it covers the whole page */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*border: 2px solid red;*/
}


/* make div transparent begin */
/*
.jumbotron {
  background: none !important;
}

.container {
  background: white;
}
*/
/* make div transparent end */


/* begin project tile effect styling */
/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.image-project-container {
  position: relative;
}

.project-img {
  opacity: 0.8;
  transition: 0.5s opacity ease;
}

.project-text {
  position: absolute;
  background-color: #00ff00;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  /*-ms-transform: translate(-50%, -50%);*/
  text-align: center;
  transition: 1s ease;
}

  /*
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s opacity ease;
  */


.image-project-container:hover .project-img {
  opacity: 1;
}

.image-project-container:hover .project-text {
  /*opacity: 1;*/
  transform: rotateY(90deg);
}
/* end project tile effect styling */


/* begin on-hover effect styling */
/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.image-hover-container {
  position: relative;
}

.hover-img {
  opacity: 1;
  transition: 0.5s opacity ease;
}

.hover-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s opacity ease;
}

.image-hover-container:hover .hover-img {
  opacity: 0.25;
}

.image-hover-container:hover .hover-text {
  opacity: 1;
}
/* end on-hover effect styling */

a {
  outline: 0 ;
  text-decoration: none !important;
}


button {
  outline: 0 !important;
}


// import bootstrap scss
@import "../bootstrap/scss/bootstrap";
